# Metadata files
.gitignore
META

# Generated source files
*.merlin
Makefile.config
src/lib/util/config.ml
src/bin/text/flags.dune

# Generated installation files
*.install

# Generated build artifacts
_build
alt-ergo
altgr-ergo
AB-Why3-plugin.cma
AB-Why3-plugin.cmxs
fm-simplex-plugin.cma
fm-simplex-plugin.cmxs
rsc/extra/ocpchecker/ocp-checker

# Generated documentation files
rsc/extra/index.html

# Generated release files
public-release

# Generated tmp files
*.make.revision
*~
archi.*
mlw
tmp/
*.tmp
alt-ergo/tmp/
_opam

# Generated javascript files
alt-ergo.js
alt-ergo-worker.js
www/
