# Metadata files
.gitignore
*.orig
META

# Generated source files
*.merlin

# Generated installation files
*.install

# Generated build artifacts
_build
alt-ergo
www
fm-simplex-plugin.cma
fm-simplex-plugin.cmxs
rsc/extra/ocpchecker/ocp-checker
*.exe

# Generated documentation files
rsc/extra/index.html

# Generated release files
public-release

# Generated tmp files
*.make.revision
*~
archi.*
mlw
tmp/
*.tmp
alt-ergo/tmp/
_opam

# Generated python files
__pycache__

# Generated nix files
/result*
